[project]
name = 'dl_utils'
version = '0.1.0'

[tool.ruff]
lint.select = [
    'ALL',  # Включаем ВСЕ правила
]

# Исключаем только конкретные правила, которые не хотим
lint.ignore = [
    'E501',  # Длина строки (может конфликтовать с форматером)
    'S101',  # Использование assert
    'PLR0913', # Слишком много аргументов в функции
    'RUF002', 'RUF003', # Кирилица в комментариях
]

# Строгие настройки в стиле wemake
line-length = 80
target-version = 'py311'
#max-complexity = 7

[tool.ruff.isort]
known-first-party = ['your_package_name']
lines-between-types = 1

[tool.ruff.flake8-quotes]
inline-quotes = 'double'

[tool.ruff.per-file-ignores]
'__init__.py' = ['F401']  # неиспользуемый импорт в __init__
'tests/**' = ['S101', 'PLR2004']  # разрешаем assert и magic values в тестах